.container {
  box-sizing: border-box;
  background-color: #F0F0F0;
}

@media screen and (min-width: 768px) {
  .container {
    /* border-radius: 40px; */
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 9;
  width: calc(100% - 20px);
  box-sizing: border-box;
  background: white;
  padding: 10px 0 0 0;
  /* margin-bottom: 50px; */
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #F0F0F0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  height: 150px;
  transition: all 0.32s ease-in-out;
}

@media screen and (min-width: 768px) {
  .headerInner {
    height: 250px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
}

.headerContent {
  width: 70%;
  max-width: 320px;
  margin: 0 auto 0 auto;
  transition: all 0.32s ease-in-out;
}

.container.scrolled .headerContent {
  width: 50%;
  max-width: 260px;
  /* margin-top: 0; */
}

.headerButton {
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0;
  transition: all 0.32s ease-in-out;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* border-radius: 50%; */
}

/* .headerButtonWrapper:before {
  content: "";
  display: block;
  position: relative;
  z-index: -1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f2ffbf;
  transform: translate(4px, 4px);
}

.headerButtonWrapper:before:hover {
  opacity: 1; 
} */

.headerButton,
.headerContent {
  transform: translateY(25px);
  transition: all 0.32s ease-in-out;
}

.container.scrolled .headerButton,
.container.scrolled .headerContent {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .container.scrolled .headerButton,
  .container.scrolled .headerContent {
    transform: translateY(0);
  }
}

.container.scrolled .headerButton {
  opacity: 1;
}

.buttonXX {
  margin-left: 7px;
  background-image: url("../assets/button_xx.png");
}
.buttonEmail{
  margin-right: 7px;
  background-image: url("../assets/button_email.png");
}
.buttonLinktree {
  display: none;
  margin-left: 20px;
  background-image: url("../assets/button_linktree.png");
}

@media screen and (min-width: 768px) {
  .buttonXX {
    margin-left: 10px;
  }
  .buttonEmail {
    margin-right: 10px;
  }
  .buttonLinktree {
    display: block;
  }
}

.header h1 {
  margin: 0;
}

.strapline {
  background-color: #f2ffbf;
  border-radius: 10px;
  height: 26px;
  line-height: 26px;
  width: 100%;
  text-align: center;
  font-family: "SpaceMono", Arial, Helvetica, sans-serif;
  font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (3200 - 320)));
  transition: all 0.32s ease-in-out;
  transform: translateY(10px);
}

.headerInner,
.listWrapper,
.footerInner {
  padding: 0 7px 7px 7px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 200px 0 0 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .headerInner,
  .listWrapper,
  .footerInner {
    padding: 0 50px;
  }
  .list {
    padding: 300px 0 0 0;
  }
}

.footer {
  background: white;
  margin-bottom: 10px;
  font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (3200 - 320)));
}

.footerLogo {
  margin-left: 7px;
  width: 100px;
  margin-bottom: 1em;
}
.footerLogo img {
  width: 100%;
}

.footerSmallPrint {
  margin: 0 7px 30px 7px;
}

.copyright {
  color: #7a7979;
  margin: 0 7px;
  display: flex;
  flex-direction: row;
  font-family: "SpaceMono", Arial, Helvetica, sans-serif;
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (3200 - 320)));
}

.copyright > div {
  padding-right: 7px;
  border-right: 1px solid #7a7979;
  margin-right: 7px;
}

@media screen and (min-width: 768px) {
  .footerLogo {
    margin-left: 10px;
    width: 220px;
  }
  .footerSmallPrint {
    margin-left: 80px;
    width: 300px;
  }
  .copyright {
    flex-direction: column;
    text-align: right;
    margin: 0 10px 0 auto;
  }
  .copyright > div {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.footerInner {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F0F0F0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media screen and (min-width: 768px) {
  .footerInner {
    padding-top: 60px;
    display: flex;
  }
}

.container.scrolled .headerInner {
  height: 100px;
}

.container.scrolled .strapline {
  opacity: 0;
  height: 0;
}

@media screen and (min-width: 768px) {
  .container.scrolled .headerInner {
    height: 150px;
  }
}

.item {
  position: relative;
  flex-basis: calc(50% - 14px);
  margin: 7px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.itemGif {
  cursor: pointer;
}

@media screen and (min-width: 450px) {
  .item {
    flex-basis: calc(33.333% - 14px);
  }
}

@media screen and (min-width: 768px) {
  .item {
    border-radius: 15px;
    margin: 10px;
    flex-basis: calc(20% - 20px);
  }
}

@media screen and (min-width: 1300px) {
  .item {
    flex-basis: calc(14.2857% - 20px);
  }
}

.item::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.item .gif {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.caption {
  position: absolute;
  top: -4px;
  left: -4px;
  border-radius: 0;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  z-index: 8;
  padding: 5px 10px;
  box-sizing: border-box;
  /* transform: translateY(100%); */
  font-size: calc(10px + (21 - 10) * ((100vw - 320px) / (3200 - 320)));
  opacity: 0;
  transition: all 0.32s ease-in-out;
}

.caption:before {
  content: "";
  background: #f2ffbf;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: all 0.32s ease-in-out;
  border-bottom-right-radius: 100px;
}
.captionInner {
  position: relative;
  z-index: 6;
}

@media screen and (min-width: 768px) {
  .caption {
    padding: 10px 15px;
  }
}

.day {
  text-decoration: underline;
  font-family: "SpaceMono", Arial, Helvetica, sans-serif;
  font-size: calc(9px + (21 - 9) * ((100vw - 320px) / (3200 - 320)));
  margin-bottom: 1em;
}

.client {
  margin-top: 1em;
}

.item:hover .caption {
  opacity: 1;
  transition: all 0.32s ease-in-out;
  /* transform: translateY(0); */
}

.item:hover .caption:before {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 10px;
}

.gif {
  position: relative;
  width: 100%;
  height: 100%;
}

.gif > img,
.gif > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemNumber {
  position: absolute;
  top: 4px;
  left: 4px;
  font-family: "SpaceMono", Arial, Helvetica, sans-serif;
  font-size: calc(9px + (21 - 9) * ((100vw - 320px) / (3200 - 320)));
  background: white;
  padding: 1px 5px;
  border-radius: 20px;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .itemNumber {
    top: 8px;
    left: 8px;
  }
}

.itemBlank {
  background-image: url("../assets/icon-xx.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50px auto;
}